@{
    ViewBag.Title = "Good Day!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
               
        </div>
    </section>
}
<h3>Please sign up!</h3>
<ol class="round">
    <li class="one">
     
    </li>

    <li class="two">
       
    </li>

    <li class="three">
       
    </li>
</ol>
